<font face = "Times New Roman" size = "5">What would you like to order?</font>
<form action = "/order" method = "post">
	<input type = "checkbox" name = "order[]" value = "Coffee" /> <font face = "Times New Roman" size = "3">Coffee</font>
	<br>
	<input type = "checkbox" name = "order[]" value = "Sandwich" /> <font face = "Times New Roman" size = "3">Sandwich</font>
	<br>
	<input type = "checkbox" name = "order[]" value = "Hash Brown" /> <font face = "Times New Roman" size = "3">Hash Brown</font>
	<br>
	<input type = "submit">
</form>